* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    margin: 1em auto 1em auto;
    padding: .25em .5em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gameTitle {
    text-align: center;
}
.question {
    background: lightblue;
    width: 90%;
    margin: 0 auto;
    padding: 1em;

}
.wrapper {
    background: lightcoral;
    margin-top: 2.5em;
    padding: 1em;
    max-width: 960px;


}
ul {
    padding: 0;

}
.answers {
    width: max-content;
    list-style-type: none;
    background: lightslategrey;
    padding: .5em 1em .5em 1em;
    border: .5px solid black;
    margin: 1em auto 1em auto;
}
.answers:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}

.centered {
    /* width: 40%; */
    margin-left: auto;
    margin-right: auto;
}